services:
  mariadb:
    build:
      context: .
      dockerfile: Dockerfile-mariadb
    container_name: green-coding-wordpress-mariadb-data-container
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=somewordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    expose:
      - 3306
  apache:
    build:
      context: .
      dockerfile: Dockerfile-wordpress
    container_name: green-coding-wordpress-apache-data-container
    expose:
      - 9875
    ports:
      - 9875:9875
    restart: always
    environment:
      - WORDPRESS_DB_HOST=mariadb
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
      - WORDPRESS_DB_NAME=wordpress
    depends_on:
      - mariadb

