version: '2'
services:
  gcb-mariadb:
    image: mariadb:10.6.4-focal
    container_name: gcb-mariadb
    command: '--default-authentication-plugin=mysql_native_password'
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: somewordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress
    expose:
      - 3306
    networks:
      - gcb-mariadb-wordpress-network

  gcb-wordpress:
    image: wordpress:6.3.1-php8.2-apache
    container_name: gcb-wordpress
    ports:
      - 9875:9875
    restart: always
    depends_on:
      - gcb-mariadb
    volumes:
      - ./wordpress.conf:/etc/apache2/sites-enabled/wordpress.conf:ro
    networks:
      - gcb-mariadb-wordpress-network

networks:
  gcb-mariadb-wordpress-network: